.build/
.swiftpm/
DerivedData/
dist/
*.app
xcuserdata/
.DS_Store

# Flutter
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
*.iml
.idea/
.widget_preview/
macos/Flutter/ephemeral/
